	<div class="relative mt-24">
			<div
				class="absolute -top-[4rem] z-0 flex w-full justify-center sm:-top-[5.75rem]"
				data-svelte-h="svelte-1w82u45"
			>
				<img
					src="https://www.summer.io/images/sunni.svg"
					class="animate-sunni w-36 sm:w-48 svelte-d36489"
					alt="Sunni, the Summer mascot"
				/>
			</div>
			<section
				class="p-6 bg-yellow-400 rounded-none relative flex flex-col items-center justify-center gap-8 pb-36 pt-12 md:py-24 md:pb-48 svelte-1p0z7cy"
			>
				<img
							src="https://www.summer.io/images/details/yellow-swoop.svg"
							class="yellow-swoop absolute svelte-d36489"
							alt="Decorative shape"
						/>
				<section
					class="[&>*]:bg-background rounded-none relative flex flex-col items-center justify-center gap-8 text-center bg-transparent p-0 svelte-1p0z7cy"
				>
					<div
						class="font-ohno mx-6 !bg-transparent text-5xl md:mx-24 md:text-7xl z-10 relative sparkle yellow"
					>
						<div slot="title" data-svelte-h="svelte-ulh4bh">
							We Make Data A Pleasure
						</div>
					</div>
					<div
						class="relative max-w-[680px] !bg-transparent text-2xl"
					>
						<div class="text-[18px] sm:text-[24px] text-yellow-800">
							<p slot="body" data-svelte-h="svelte-1a5575q">
								We've designed Summer to be as friendly as it is
								capable. Here's a few product features we're
								especially proud of.
							</p>
						</div>
					</div>
				</section>
				<div
					class="grid max-w-screen-2xl gap-6 md:grid-cols-2 lg:grid-cols-3"
				>
					<div
						class="flex flex-col border border-yellow-800 bg-background rounded-3xl yellow-light md:col-span-2 items-start p-0 overflow-hidden svelte-12hpcso"
					>
						<div
							class="color-foreground text-2xl md:text-[32px] p-6 sm:p-10 pb-2 sm:pb-2 svelte-d36489"
						>
							One access control for everything
						</div>
						<p
							class="color-foreground-sublte text-md md:text-[17px] px-6 py-2 sm:px-10 flex-1 svelte-d36489"
						>
							Summer lets you control data access across your
							ingest pipelines, warehouse tables, and dashboards
							from a single place. We make it easy to make sure
							the right people see the right things, and no one
							else does.
						</p>
						<img
							src="https://www.summer.io/images/details/details-image1.svg"
							class="w-full"
							alt="Cartoon office scene with coworkers sharing data"
						/>
					</div>
					<div
						class="flex flex-col border border-yellow-800 bg-background rounded-3xl yellow-light items-start p-0 overflow-hidden svelte-12hpcso"
					>
						<div
							class="color-foreground text-2xl md:text-[32px] p-6 sm:p-10 pb-2 sm:pb-2 svelte-d36489"
						>
							Sharing made easy
						</div>
						<p
							class="color-foreground-sublte text-md md:text-[17px] px-6 py-2 sm:px-10 flex-1 svelte-d36489"
						>
							Easily share queries, dashboards, tables, or even
							entire datasets with your teammates or external
							organizations.
						</p>
						<img
							src="https://www.summer.io/images/details/details-image2.png"
							class="w-full"
							alt="Mockup of a sharing modal between organizations"
						/>
					</div>
					<div
						class="flex flex-col border border-yellow-800 bg-background rounded-3xl yellow-light items-start p-0 overflow-hidden svelte-12hpcso"
					>
						<div
							class="color-foreground text-2xl md:text-[32px] p-6 sm:p-10 pb-2 sm:pb-2 svelte-d36489"
						>
							Pricing for humans
						</div>
						<p
							class="color-foreground-sublte text-md md:text-[17px] px-6 py-2 sm:px-10 flex-1 svelte-d36489"
						>
							Fair, transparent, easy to understand pricing. No
							dark patterns here. See our
							<a
								href="/pricing"
								class="text-accent-primary underline"
								data-svelte-h="svelte-n0t3xi">pricing page</a
							> for proof!
						</p>
						<img
							src="https://www.summer.io/images/details/details-image3.png"
							class="w-full"
							alt="Example pricing for a dataset"
						/>
					</div>
					<div
						class="flex flex-col border border-yellow-800 bg-background rounded-3xl yellow-light items-start p-0 overflow-hidden svelte-12hpcso"
					>
						<div
							class="color-foreground text-2xl md:text-[32px] p-6 sm:p-10 pb-2 sm:pb-2 svelte-d36489"
						>
							No chance for errors
						</div>
						<p
							class="color-foreground-sublte text-md md:text-[17px] px-6 py-2 sm:px-10 flex-1 svelte-d36489"
						>
							Our SQL editor eliminates errors and supports you at
							every step, so you can query with confidence.
						</p>
						<img
							src="https://www.summer.io/images/details/details-image4.png"
							class="w-full"
							alt="Example query with error handling"
						/>
					</div>
					<div
						class="flex flex-col border border-yellow-800 bg-background rounded-3xl yellow-light items-start p-0 overflow-hidden svelte-12hpcso"
					>
						<div
							class="color-foreground text-2xl md:text-[32px] p-6 sm:p-10 pb-2 sm:pb-2 svelte-d36489"
						>
							AI, but different
						</div>
						<p
							class="color-foreground-sublte text-md md:text-[17px] px-6 py-2 sm:px-10 flex-1 mb-4 svelte-d36489"
						>
							Natural language to SQL and charts is table stakes.
							We're cooking up something only Summer can
							deliver—stay tuned!
						</p>
						<img
							src="https://www.summer.io/images/details/details-image5.svg"
							class="w-full"
							alt="Cartoon of the Summer mascot enjoying a cookout"
						/>
					</div>
				</div>
				<div
					class="flex items-center border border-yellow-600 text-yellow-800 p-6 rounded-3xl yellow mt-12 flex-row flex-wrap gap-8 svelte-12hpcso"
				>
					<div
						class="text-xl md:text-2xl"
						data-svelte-h="svelte-to9bvg"
					>
						Water's warm, hop in.
					</div>
					<button
						type="button"
						aria-haspopup="dialog"
						aria-expanded="false"
						data-melt-dialog-trigger=""
						data-alert-dialog-trigger=""
						class="w-full sm:w-auto"
						><button
							class="group-hover:scale-[1.1] transition-all duration-500 ease-in-out will-change-transform z-0 relative flex whitespace-nowrap items-center capitalize tracking-tight h-14 text-xl group transform-gpu svelte-1yocqo"
							><div
								class="group-hover:scale-[1.1] transition-all duration-500 ease-in-out will-change-transform bg-black text-white button-start z-10 inline-flex h-full w-[35px] svelte-1yocqo"
							>
							</div>
							<div
								class="group-hover:scale-[1.1] transition-all duration-500 ease-in-out will-change-transform bg-black text-white relative z-20 inline-flex h-full flex-1 items-center justify-center svelte-1yocqo"
							>
								<div
									class="w-full group-hover:scale-[1.1] will-change-transform bg-black text-white transform-gpu z-[-1] group-hover:translate-y-full absolute transition-transform ease-in-out duration-500 -translate-x-1/2 left-1/2 bottom-0 drip h-10 drip1 svelte-1yocqo"
								>
								</div> Join Us!
							</div>
							<div
								class="group-hover:scale-[1.1] transition-all duration-500 ease-in-out will-change-transform bg-black text-white button-end z-10 inline-flex h-full w-[35px] svelte-1yocqo"
							>
							</div></button
						></button
					>
				</div>
				<div
					class="drip rounded-none pointer-events-none absolute left-0 right-0 top-full bottom-0 z-20 -m-[2px] w-full drip1 svelte-1p0z7cy"
				>
				</div>
			</section>
		</div>