---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import eclipseLogo from '../assets/supporters/eclipse.svg';
import jetbrainsLogo from '../assets/supporters/jetbrains.svg';
import pifLogo from '../assets/supporters/PublicInvestmentFund.svg';
---

<Layout>
    <section class="p-6 rounded-none relative flex flex-col items-center justify-center gap-8 pb-12 text-center pt-36 lg:pt-52">
        <div class="font-ohno mx-6 !bg-transparent text-5xl md:mx-24 md:text-7xl z-10 relative kite">
            From zero to hero with Lohen.
        </div>
        <div class="relative max-w-[680px] !bg-transparent text-2xl">
            <div class="text-foreground-subtle text-[18px] sm:text-[24px]">
                <p class="max-w-[580px]">
                    Lohen moves foward with new safe AI with the power of the blockchain.
                </p>
            </div>
        </div>
    </section>

    <div class="mx-auto grid max-w-screen-2xl gap-4 p-8 pt-0 sm:gap-x-8 sm:gap-y-12 md:grid-cols-2 2xl:p-0">
        <div class="flex-col border border-pink-800 text-pink-900 rounded-3xl pink card my-8 sm:my-12 flex items-start justify-center p-8 sm:p-10 sm:mx-8 -rotate-2">
            <div class="color-foreground mb-2 flex font-medium items-center gap-2.5 text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">
                <img src="https://www.summer.io/images/landing/icon-ingest.png" alt="Icon for connectors" class="w-12 sm:w-16"/>
                Text Summarizer
            </div>
            <p class="text-md sm:text-xl lg:text-2xl">
                To efficiently and accurately condense large volumes of text into concise, 
                coherent summaries, 
                improving information accessibility and saving valuable time.
            </p>
        </div>
        <img src="https://www.summer.io/images/landing/featured-image1.png" alt="Series of logos and showcasing" class="m-auto" />
        
        <div class="flex-col border border-blue-800 text-blue-900 rounded-3xl blue card my-8 sm:my-12 flex items-start justify-center p-8 sm:p-10 sm:mx-8 rotate-2">
            <div class="color-foreground mb-2 flex font-medium items-center gap-2.5 text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">
                <img src="https://www.summer.io/images/landing/icon-warehouse.png" alt="Icon for queries" class="w-12 sm:w-16" />
                Powerful chatbot
            </div>
            <p class="text-md sm:text-xl lg:text-2xl">
                Fine-tuned with Google Gemma & Mistrai, our next-gen models are coming soon. Stay tuned!
            </p>
        </div>
        <img src="https://www.summer.io/images/landing/featured-image2.png" alt="An example SQL" class="m-auto" />

        <div class="flex-col border border-orange-800 text-orange-900 rounded-3xl orange card my-8 sm:my-12 flex items-start justify-center p-8 sm:p-10 sm:mx-8 -rotate-2">
            <div class="color-foreground mb-2 flex font-medium items-center gap-2.5 text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">
                <img src="https://www.summer.io/images/landing/icon-analytics.png" alt="Icon for dashboards" class="w-12 sm:w-16" />
                Youtube Summarizer
            </div>
            <p class="text-md sm:text-xl lg:text-2xl">
                Quickly get concise summaries of any YouTube video. Our advanced AI analyzes content, 
                extracts key points, and delivers summaries in seconds. Boost your productivity and stay informed.
            </p>
        </div>
        <img src="https://www.summer.io/images/landing/featured-image3.png" alt="A dashboard showcasing data visualizations" class="m-auto" />
    </div>
    
    <section class="mt-10 mb-52 bg-background [&>*]:bg-background rounded-none relative flex flex-col items-center justify-center gap-8 text-center">
        <div class="font-ohno !bg-transparent text-xl md:mx-24 md:text-4xl z-10 relative kite">
            <div>Big and special thanks to our supporters.</div>
        </div>
        <div class="relative !bg-transparent text-2xl mx-auto max-w-5xl">
            <div class="flex flex-wrap items-center justify-between gap-4">
                <div class="flex flex-1 gap-3 flex-col md:flex-row">
                    <Image src={eclipseLogo} alt="Eclipse logo" class="h-20" />
                    <Image src={jetbrainsLogo} alt="Jetbrains logo" class="h-20" />
                    <Image src={pifLogo} alt="PIF logo" class="h-20" />
                </div>
            </div>
        </div>
    </section>    
</Layout>
