---
import '../styles/global.css' 
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
        <meta name="generator" content={Astro.generator} />

        <meta name="description" content="Lohen have a mission to transform the world through excellence in AI."/>
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
        
        <link rel="canonical" href="https://lohen.eu" />

        <title>Lohen</title>
    </head>
    <body class="bg-white">
        <slot />
    </body>
</html>