---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import lohenLogo from '../assets/lohen.svg';

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Lohen have a mission to transform the world through excellence in AI."/>
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>

        <link rel="canonical" href="https://lohen.eu" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
        <title>Lohen - Accelerate Innovation with AI and Blockchain solutions.</title>
    </head>
    <body class="bg-white">
        <section class="p-6 bg-green-400 rounded-b-[30px] md:rounded-b-[80px] relative flex flex-col">
            <div class="full-width relative -m-6">
                <nav class="relative z-30 mx-auto flex w-full max-w-screen-2xl flex-wrap items-center justify-between p-6 bg-green-400">
                    <a class="text-black" href="/">
                        <Image src={lohenLogo} alt="Lohen text logo" class="h-6 md:h-8" />
                        <span class="sr-only">Lohen</span>
                    </a>
                   <!-- <div class="hidden gap-8 sm:flex">
                        <a href="/">Pricing</a>
                        <a href="/">Careers</a>
                    </div>-->                
                    <div class="gap-4 sm:flex">
                        <a href="https://try.lohen.eu" class="bg-green-200 hover:bg-green-500 rounded-full px-6 py-2">
                            Try
                        </a>
                    </div>
                </nav>
            </div>
            <div class="relative mx-auto w-full xl:max-w-screen-2xl">
                <div class="my-4 flex flex-wrap items-start justify-between sm:my-16 sm:flex-nowrap">
                    <div class="mt-6 w-full p-6 md:pr-0 sm:mx-0 sm:mb-24 sm:mt-12 sm:max-w-[80%] lg:mx-12 lg:mr-0">
                        <h1 class="font-ohno text-center text-5xl sm:text-left sm:text-6xl lg:text-[80px]">
                            A performant, affordable 
                            <br class="hidden md:block" /> 
                            Artificial intelligence? Yes, please!
                        </h1>
                        <div class="mb-12 mt-6 flex flex-col items-center gap-4 sm:mb-0 sm:items-start md:mt-10 md:flex-row md:gap-8 lg:gap-12">
                            <div class="flex-1 text-center text-lg text-green-800 sm:text-left sm:text-xl md:flex-none md:text-2xl lg:text-3xl">
                                We're on a mission to
                                <br class="hidden md:block" /> 
                                make artificial intelligence a pleasure.
                            </div>	
                        </div>
                    </div>
                    <img
                        src="https://www.summer.io/images/landing/header-assets.png"
                        class="mt-[10%] hidden w-full max-w-[300px] sm:block lg:max-w-[420px] lg:mt-0 xl:max-w-[480px]"
                        alt="Mockups of different data views"
                    />
                </div>
                <img
                    src="https://www.summer.io/images/landing/sunni-lemonade.png"
                    class="absolute -bottom-24 right-12 z-[5] w-36 sm:right-32 sm:w-48 md:right-64 2xl:right-[20%]"
                    alt="Sunni with lemonade"
                />
                <img
                    src="https://www.summer.io/images/landing/landing-drips.svg"
                    class="absolute left-8 top-[100%] z-[1] mt-6 w-64 sm:left-24 lg:w-[400px] xl:w-[600px]"
                    alt="Decorative drips"
                />
            </div>
        </section>

        <slot />
        
        <div class="relative mt-28"></div>

    <section class="flex flex-col p-6 relative bg-blue-400 rounded-t-[30px] md:rounded-t-[80px] -mt-16 items-center py-12">
        <footer class="flex w-full max-w-screen-2xl flex-col px-4 sm:px-10 md:px-20 2xl:px-0">
            <div class="grid gap-10 pb-10 sm:grid-cols-2 sm:py-10">
                <div class="flex flex-col justify-end gap-4 md:text-lg">
                   <!-- <a href="/">Home</a>
                    <div class="flex flex-col gap-4">
                        <a href="/pricing">Pricing</a>
                        <a href="/jobs">Careers</a>
                    </div> -->
                </div>
                <div class="flex flex-col justify-center text-center">
                    <Image src={lohenLogo} alt="Lohen logo" class="w-2xl" />
                </div>
            </div>
            <div class="flex flex-wrap items-center justify-between gap-4 rounded-3xl bg-blue-500 px-8 py-4">
                <div class="flex flex-1 gap-3">
                    <a href="#">
                        <Icon name="mdi:email" width={25} height={25} />
                    </a>
                </div>
                <p class="text-end leading-tight text-blue-800">© 2025 Lohen AI Co.</p>
            </div>
        </footer>
    </section>
    </body>
</html>