---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import lohenLogo from '../assets/lohen.svg';

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Lohen have a mission to transform the world through excellence in AI."/>
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>

        <link rel="canonical" href="https://lohen.eu" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
        <title>Lohen - Accelerate Innovation with AI and Blockchain solutions</title>
    </head>
    <body class="bg-white">
        <section class="p-6 bg-green-400 rounded-b-[30px] md:rounded-b-[80px] relative flex flex-col">
            <div class="full-width relative -m-6">
                <nav class="relative z-30 mx-auto flex w-full max-w-screen-2xl flex-wrap items-center justify-between p-6 bg-green-400">
                    <a class="text-black" href="/">
                        <Image src={lohenLogo} alt="Lohen text logo" class="h-6 md:h-8" />
                    </a>
                   <!-- <div class="hidden gap-8 sm:flex">
                        <a href="/">Pricing</a>
                        <a href="/">Careers</a>
                    </div>
 -->                    <div class="hidden gap-4 sm:flex">
                        <a href="https://try.lohen.eu" class="bg-green-200 hover:bg-green-500 text-foreground rounded-full px-6 py-2">
                            Try
                        </a>
                    </div>
                    <button class="-m-2 rounded-xl p-2 sm:hidden">
                        <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_444_10604)">
                                <path
                                    d="M16.6648 2.66675C16.2974 2.66675 15.9995 2.96522 15.9995 3.33341V4.66675C15.9995 5.03494 16.2974 5.33342 16.6648 5.33342C17.0323 5.33342 17.3301 5.03494 17.3301 4.66675V3.33341C17.3301 2.96522 17.0323 2.66675 16.6648 2.66675Z"
                                    fill="#141517" />
                                <path
                                    d="M23.6664 5.29244C23.9576 5.51696 24.0121 5.93553 23.788 6.22735C23.5639 6.51916 23.1462 6.57371 22.855 6.34918L21.8004 5.53612C21.5092 5.3116 21.4548 4.89303 21.6788 4.60122C21.9029 4.3094 22.3206 4.25486 22.6118 4.47938L23.6664 5.29244Z"
                                    fill="#141517" />
                                <path
                                    d="M11.1941 7.08598C11.4798 6.85445 11.8987 6.89882 12.1298 7.1851L12.9665 8.2218C13.1976 8.50808 13.1533 8.92785 12.8676 9.15938C12.5819 9.39092 12.163 9.34654 11.932 9.06027L11.0952 8.02357C10.8641 7.73729 10.9084 7.31752 11.1941 7.08598Z"
                                    fill="#141517" 
                                />
                                <path
                                    d="M6.37591 8.08078C6.63573 7.82043 6.63573 7.39832 6.37591 7.13797C6.11609 6.87762 5.69484 6.87762 5.43502 7.13797L4.49414 8.08078C4.23432 8.34113 4.23432 8.76324 4.49414 9.02359C4.75396 9.28394 5.17521 9.28394 5.43502 9.02359L6.37591 8.08078Z"
                                    fill="#141517" 
                                />
                                <path	
                                    d="M19.2163 6.83538C18.873 6.70395 18.4885 6.87623 18.3573 7.22016L17.8824 8.46566C17.7512 8.8096 17.9231 9.19495 18.2664 9.32638C18.6096 9.4578 18.9942 9.28553 19.1253 8.94159L19.6003 7.69609C19.7314 7.35216 19.5595 6.9668 19.2163 6.83538Z"	
                                    fill="#141517" 
                                />
                                <path
                                    d="M27.6664 8.08078C27.9262 7.82043 27.9262 7.39832 27.6664 7.13797C27.4065 6.87762 26.9853 6.87762 26.7255 7.13797L25.7846 8.08078C25.5248 8.34113 25.5248 8.76324 25.7846 9.02359C26.0444 9.28394 26.4657 9.28394 26.7255 9.02359L27.6664 8.08078Z"
                                    fill="#141517" 
                                />
                                <path
                                    d="M9.60601 3.41426C9.78973 3.0954 10.1966 2.98615 10.5148 3.17025L11.6672 3.83691C11.9854 4.02101 12.0944 4.42874 11.9107 4.7476C11.727 5.06646 11.3201 5.17571 11.0019 4.99161L9.84953 4.32495C9.53132 4.14085 9.42229 3.73313 9.60601 3.41426Z"
                                    fill="#141517" 
                                />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M29.9717 12H2.02855C-3.29413 12 2.02727 0 15.9995 0C29.9718 0 35.2943 12 29.9717 12ZM2.02855 10.5H29.9717C30.1658 10.5 30.2853 10.4725 30.3498 10.4498C30.4088 10.4291 30.4269 10.411 30.4286 10.4094C30.4304 10.4076 30.443 10.3955 30.4586 10.355C30.4761 10.3093 30.4986 10.2231 30.5025 10.0833C30.5198 9.4598 30.1497 8.30212 29.0554 6.94101C26.9356 4.3042 22.5453 1.5 15.9995 1.5C9.45376 1.5 5.06377 4.30419 2.94422 6.94095C1.85012 8.30203 1.48017 9.45967 1.49752 10.0832C1.5014 10.2229 1.52396 10.3092 1.54146 10.3548C1.55702 10.3954 1.56945 10.4073 1.57128 10.4091C1.57298 10.4108 1.5914 10.4291 1.65038 10.4498C1.71488 10.4725 1.83441 10.5 2.02855 10.5Z"
                                    fill="#141517"
                                />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M4.41544 32H27.5828C29.4567 32 31.2837 30.9702 31.7031 29.1401C31.9932 27.8742 31.9306 26.6667 30.6358 26.6667H1.36238C0.0676059 26.6667 0.00501519 27.8742 0.295144 29.1401C0.714576 30.9702 2.54154 32 4.41544 32ZM27.5828 30.5H4.41544C2.98481 30.5 1.96681 29.7325 1.7541 28.8044C1.6971 28.5556 1.66431 28.3412 1.65372 28.1667H30.3445C30.3339 28.3412 30.3011 28.5556 30.2441 28.8044C30.0314 29.7325 29.0134 30.5 27.5828 30.5Z"
                                    fill="#141517" 
                                />
                                <path
                                    d="M11.9906 16.2863C9.82406 15.6942 7.53889 15.6942 5.3724 16.2863L1.71321 17.2863C1.00423 17.48 0.272739 17.0612 0.0793804 16.3507C-0.113978 15.6403 0.304017 14.9073 1.013 14.7136L4.67218 13.7136C7.29711 12.9962 10.0658 12.9962 12.6908 13.7136C14.8573 14.3056 17.1424 14.3056 19.3089 13.7136C21.9338 12.9962 24.7026 12.9962 27.3275 13.7136L30.9867 14.7136C31.6957 14.9073 32.1137 15.6403 31.9203 16.3507C31.7269 17.0612 30.9955 17.48 30.2865 17.2863L26.6273 16.2863C24.4608 15.6942 22.1756 15.6942 20.0091 16.2863C17.3842 17.0036 14.6155 17.0036 11.9906 16.2863Z"
                                    fill="#141517"></path>
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M31.9669 22.0001C31.9669 20.1591 30.4775 18.6667 28.6403 18.6667H3.35869C1.5215 18.6667 0.0321609 20.1591 0.0321609 22.0001C0.0321609 23.841 1.5215 25.3334 3.35869 25.3334H28.6403C30.4775 25.3334 31.9669 23.841 31.9669 22.0001ZM25.0181 20.0001L20.1686 23.9759C20.1586 23.9842 20.1485 23.9922 20.1383 24.0001C20.0862 24.0404 20.0318 24.0763 19.9756 24.1078C19.5166 24.3654 18.94 24.3294 18.5138 24.0001C18.5036 23.9922 18.4935 23.9842 18.4834 23.9759L13.634 20.0001H25.0181Z"
                                    fill="#141517"
                                />
                            </g>
                            <defs>
                                <clipPath id="clip0_444_10604">
                                    <rect width="32" height="32" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </nav>
                <button class="hidden"></button>
            </div>
            <div class="relative mx-auto w-full xl:max-w-screen-2xl">
                <div class="my-4 flex flex-wrap items-start justify-between sm:my-16 sm:flex-nowrap">
                    <div class="mt-6 w-full p-6 md:pr-0 sm:mx-0 sm:mb-24 sm:mt-12 sm:max-w-[80%] lg:mx-12 lg:mr-0">
                        <h1 class="font-ohno text-center text-5xl sm:text-left sm:text-6xl lg:text-[80px]">
                            A performant, affordable 
                            <br class="hidden md:block" /> 
                            Artificial intelligence? Yes, please!
                        </h1>
                        <div class="mb-12 mt-6 flex flex-col items-center gap-4 sm:mb-0 sm:items-start md:mt-10 md:flex-row md:gap-8 lg:gap-12">
                            <div class="flex-1 text-center text-lg text-green-800 sm:text-left sm:text-xl md:flex-none md:text-2xl lg:text-3xl">
                                We're on a mission to
                                <br class="hidden md:block" /> 
                                make artificial intelligence a pleasure.
                            </div>	
                        </div>
                    </div>
                    <img
                        src="https://www.summer.io/images/landing/header-assets.png"
                        class="mt-[10%] hidden w-full max-w-[300px] sm:block lg:max-w-[420px] lg:mt-0 xl:max-w-[480px]"
                        alt="Mockups of different data views within Summer"
                    />
                </div>
                <img
                    src="https://www.summer.io/images/landing/sunni-lemonade.png"
                    class="absolute -bottom-24 right-12 z-[5] w-36 sm:right-32 sm:w-48 md:right-64 2xl:right-[20%]"
                    alt="Sunni, the Summer mascot, sipping lemonade"
                />
                <img
                    src="https://www.summer.io/images/landing/landing-drips.svg"
                    class="absolute left-8 top-[100%] z-[1] mt-6 w-64 sm:left-24 lg:w-[400px] xl:w-[600px]"
                    alt="Decorative drips"
                />
            </div>
            <div class="drip rounded-none pointer-events-none absolute left-0 right-0 top-full bottom-0 z-20 -m-[2px] w-full drip2">
            </div>
        </section>
        <slot />
        <div class="relative mt-28"></div>

    <section class="flex flex-col p-6 relative bg-blue-400 rounded-t-[30px] md:rounded-t-[80px] -mt-16 items-center py-12">
        <footer class="flex w-full max-w-screen-2xl flex-col px-4 sm:px-10 md:px-20 2xl:px-0">
            <div class="grid gap-10 pb-10 sm:grid-cols-2 sm:py-10">
                <div class="flex flex-col justify-end gap-4 md:text-lg">
                   <!-- <a href="/">Home</a>
                    <div class="flex flex-col gap-4">
                        <a href="/pricing">Pricing</a>
                        <a href="/jobs">Careers</a>
                    </div> -->
                </div>
                <div class="flex flex-col justify-center text-center">
                    <Image src={lohenLogo} alt="Lohen logo" class="w-2xl" />
                </div>
            </div>
            <div class="flex flex-wrap items-center justify-between gap-4 rounded-3xl bg-blue-500 px-8 py-4">
                <div class="flex flex-1 gap-3">
                    <a href="#">
                        <Icon name="mdi:email" width={25} height={25} />
                    </a>
                </div>
                <p class="text-end leading-tight text-blue-800">© 2025 Lohen AI Co.</p>
            </div>
        </footer>
    </section>
    </body>
</html>